h1{
    color: brown;
}
/*Comentario*/
p{
    color: rgb(7, 31, 248);
    font-size: 10px;
}
#primer-noticia{
    color: green;
    font-size: 12px;
}
#segunda-noticia{
    /*color: darkmagenta;*/
    font-size: 10pt;
}

.encabezado{
    font-size: 24pt;
    text-transform: uppercase;
}

*.warning{/* (*)Selector universal*/
    color: red;
}
.autor,.fecha,.ubicacion,h1,#segunda-noticia{
    text-decoration: underline;
}
