*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;

}
.sidebar{
    display: flex;
    flex-direction: column;
    background-color: green;
}
.main-section{
    background-color: aqua;
    display: flex;
    justify-content: center;
    flex-grow: 1;

}
@media (max-width:640px) {
    .container{
        display: flex;
        flex-direction: column-reverse;

    }
    .sidebar{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        background-color: green;
        gap: 2rem;
    
    }
    .main-section{
        display: flex;
        flex-direction: row;
        background-color: aqua;
        justify-content: center;

    }
    
}